@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: thistle;
}

#container {
  width: 500px;
  height: 500px;
  overflow: hidden;
}

img {
  transform-origin: center center;
  width: 500px;
  height: 500px;
  object-fit: cover;
  transition: all 0.5s linear;
}
